<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Photos Loader Page</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.name_field.label_tag }}
            {{ form.name_field }}
            {{ form.name_field.errors }}
        </div>
        <br>
        <div>
            {{ form.image_field.label_tag }}
            {{ form.image_field }}
            {{ form.image_field.errors }}
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>