{% extends "loader/base.html" %}

{% block title %}Table of all uploaded photos{% endblock %}

{% block content %}
    {% if photos %}
        <table>
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>Camera model</th>
                    <th>File size</th>
                    <th>Create date</th>
                    <th>Upload date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for photo in photos %}
                    <tr>
                        <td>
                            <a href="{{ photo.image.url }}">
                                <img src="/media/{{ photo.thumbnail }}">
                            </a>
                        </td>
                        <td>{{ photo.name }}</td>
                        <td>{{ photo.model_name }}</td>
                        <td>{{ photo.image.size|filesizeformat }}</td>
                        <td>{{ photo.create_date }}</td>
                        <td>{{ photo.upload_date }}</td>
                        <td><button><a href="{% url 'delete_photo' pk=photo.pk %}">Delete</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no uploaded photos!</p>
    {% endif %}
    <br>
    <button><a href="{% url 'root' %}">Back to upload files</a></button>
{% endblock %}